################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook/PhoneBook/.vs/PhoneBook
/PhoneBook/PhoneBook/obj
