################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook/PhoneBook/.vs/PhoneBook
/PhoneBook/PhoneBook/obj
/PhoneBook.Test/PhoneBook.Test/bin/Debug/net6.0
/PhoneBook.Test/PhoneBook.Test/obj
/PhoneBook/PhoneBook/bin/Debug/net6.0
/PhoneBook/PhoneBook.Application/obj
/PhoneBook/PhoneBook.Domain/obj
/PhoneBook/PhoneBook.Persistence/obj
